@tailwind base;
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@tailwind components;
@tailwind utilities;

@layer components {
	.form {
		@apply flex flex-col items-center bg-[#0A1633] shadow-[0_0_5px_5px_rgba(108,124,166,0.5)] z-10 rounded-md p-[16px] w-[80%] max-w-[400px];
	}

	.input-box {
		@apply w-full relative rounded-md overflow-hidden border-[1px];
	}

	.input {
		@apply p-[5px] rounded-md w-full text-center bg-transparent focus:outline-none placeholder:text-[#8F9DBF] placeholder:opacity-50;
	}

	.input-error {
		@apply block mb-[16px] text-red-500 text-center;
	}

	.form-submit {
		@apply bg-[#8F9DBF] px-4 py-2 rounded-md text-[#0A1633] font-semibold hover:bg-[#293A66] hover:text-[#8F9DBF] transition-colors duration-300 mx-auto block;
	}

	.link {
		@apply underline underline-offset-2;
	}

	.label {
		@apply block text-center;
	}

	.empty {
		@apply mb-0 border-[#EF4444] text-[#ef4444];
	}

	.no-empty {
		@apply mb-[16px] border-[#8F9DBF] text-[#8F9DBF];
	}

	.label-error {
		@apply text-[#ef4444];
	}
	.label-no-error {
		@apply text-[#8F9DBF];
	}

	.icon {
		@apply absolute z-20 left-[10px] top-1/2 -translate-y-1/2;
	}

	.title {
		@apply text-[#8F9DBF] font-semibold text-[24px] text-center;
	}

	.button {
		@apply bg-[#8F9DBF] px-4 py-2 rounded-md text-[#0A1633] font-semibold hover:bg-[#293A66] hover:text-[#8F9DBF] transition-colors duration-300 mx-auto block;
	}

	.test-account-info {
		@apply text-red-500 block text-center;
	}
}
